{% extends "base_generic.html" %}

{% block content %}
<h1>Name: {{ battalion.name }}</h1>

<p><strong>Brigade:</strong> {{ battalion.brigade.name }}</p>
<p><strong>Base:</strong> {{ battalion.base.all|join:", " }}</p>
<p><strong>Companys:</strong></p>
{% if battalion.company_set %}
<ul>
    {% for company in battalion.company_set.all %}
    <li>
        <a href="">{{ company.name }}</a> ({{company.base.all|join:", "}})
    </li>
    {% endfor %}
</ul>
  {% else %}
<p>There are no companies in the database.</p>
  {% endif %}
{% endblock %}
